:root {
  /* Fonts variables */
  --primary-font: 'Manrope', sans-serif;
  --secondary-font: 'Open Sans', sans-serif;

  /* It let's us to assume that 1rem approximately == 10px */
  --root-font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
